

.idea{
    background-color: rgb(34, 46, 11);
    padding: 10px;
    color: rgb(219, 46, 127);
}

.ideaTitle{
    font-weight: bold;
    color: goldenrod;
}

.ideaDescription{
    font-weight: normal;
    color: olive;
}
