

.idea{
    background-color: rgb(34, 46, 11);
    padding: 10px;
    color: rgb(219, 46, 127);
}

.ideaTitle{
    font-weight: bold;
    font-family: Hack;
    color: goldenrod;
    font-size: 26px;
}

.ideaDescription{
    font-weight: normal;
    font-family: Hack;
    color: rgb(184, 139, 27);
    font-size: 16px;
}
